* {
  /* outline: 1px solid pink; */
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dashboard {
  display: grid;
  grid-template-columns: 280px 1fr;
  width: 100vw;
  /* height: 100vh; */
}

.sidebar {
  grid-column: 1;
  height: 100vh;
  background-color: navy;
  padding: 24px;
  display: grid;
  grid-template-rows: 40px 1fr;
  align-content: start;
  gap: 40px;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 32px;
  color: white;
}

.sidebar .menus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  & li {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
  }
}

.dashboard .container {
  height: 100vh;
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1 0 auto;
  display: grid;
  grid-template: 48px 1fr / 1fr 280px;
  padding: 16px 24px 24px 40px;
  gap: 16px 8px;
  border-bottom: 1px solid #ccc;
}

.header .search {
  grid-column: 1;
  display: flex;
  gap: 12px;
  align-items: center;
  & input {
    border: 1px solid lightgray;
    border-radius: 40px;
    width: 640px;
    height: 32px;
  }
}

.header .user-info {
  grid-column: 2;
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  gap: 20px;
}

.user-info .user {
  display: flex;
  align-items: center;
  gap: 12px;
  & .small-profile {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid lightseagreen;
  }
}

.header .title-bar {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 64px 1fr;
  align-items: center;
  gap: 20px;
}

.big-profile {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  border: 1px solid lightcoral;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmxhHu4Xjz7KLeNZyC40Zq40lItgvtcrirrg&s);
  background-size: cover;
  background-position: center;
}

.header .action-buttons {
  grid-column: 2;
  display: flex;
  align-items: end;
  justify-content: start;
  gap: 12px;
}

button {
  padding: 8px 16px;
  background-color: navy;
  border-radius: 64px;
  color: white;
}

.main-content {
  overflow: auto;
  flex: 3 1 auto;
  background-color: whitesmoke;
  padding: 24px 32px 24px 24px;
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 24px;
}

.projects {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  & .your-projects {
    flex: 0 0 auto;
  }
}

.projects .container {
  flex: 1;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, max(200px));
  /* grid-auto-rows: 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: white;
  border-left: 8px solid rebeccapurple;
  border-radius: 8px;
  box-shadow: 2px 4px 16px 2px rgb(160, 160, 160, 0.4);
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.title {
  flex: 0 0 auto;
}

.desc {
  flex: 0 0 auto;
  margin-bottom: 16px;
}

.btns {
  flex: 0 0 auto;
  display: flex;
  justify-content: end;
  gap: 8px;
}

.side-content {
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 28px;
}

.announcements {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: max-content;
  & .container {
    flex: 0 1 auto;
    height: auto;
    background-color: white;
    padding: 20px 24px;
    border-radius: 8px;
    box-shadow: 2px 4px 12px 2px rgb(160, 160, 160);
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
    gap: 12px;
  }
}

.announcements-title {
  flex: 0 0 auto;
}

.announcement {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: max-content;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}

.trending {
  display: flex;
  flex-direction: column;
  gap: 8px;
  & .container {
    flex: 0;
    background-color: white;
    padding: 16px 20px;
    border-radius: 8px;
    box-shadow: 2px 4px 12px 2px rgb(160, 160, 160);
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.user {
  flex: 1;
  display: grid;
  grid-template: 20px 20px / 40px 1fr;
  column-gap: 12px;
}

.small-profile {
  grid-row: 1/3;
  grid-column: 1/2;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid lightcoral;
}

.one .small-profile {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmxhHu4Xjz7KLeNZyC40Zq40lItgvtcrirrg&s);
  background-size: cover;
  background-position: center;
}

.two .small-profile {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXmlHze1jqSMdDkEt2VCNAyXiErVFYIzINvQ&s);
  background-size: cover;
  background-position: center;
}

.three .small-profile {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMB4DyzlDpYoUrsh5NaTGTBf432aAqPBIzKQ&s);
  background-size: cover;
  background-position: center;
}

.four .small-profile {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGCaIaOptNSWFEIErJIQti0UkTpR_ie5EtUg&s);
  background-size: cover;
  background-position: center;
}
