* {
  outline: 1px solid pink;
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dashboard {
  display: grid;
  grid-template-columns: 240px 1fr;
  height: 100vh;
}

.sidebar {
  height: auto;
  background-color: navy;
  padding: 24px;
  display: grid;
  grid-template-rows: 40px 1fr;
  align-content: start;
  gap: 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 32px;
  color: white;
}

.menus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  & li {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
  }
}

.dashboard .container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.header {
  flex: 1 0 auto;
  display: grid;
  grid-template: 48px 56px / 840px 240px;
  padding: 16px 24px 24px 40px;
  gap: 24px 16px;
}

.search {
  grid-column: 1 / 2;
  display: flex;
  gap: 12px;
  align-items: center;
  & input {
    border: 1px solid lightgray;
    border-radius: 40px;
    width: 640px;
    height: 32px;
  }
}

.user-info {
  grid-column: 2 / 3;
}

.title-bar {
  grid-column: 1 / 2;
}

.action-buttons {
  grid-column: 2 / 3;
}

.main-content {
  overflow: auto;
  flex: 3 1 auto;
  background-color: whitesmoke;
  padding: 24px 32px 40px 24px;
  display: grid;
  grid-template: 1fr 1fr / 840px 1fr;
  gap: 20px;
}

.projects {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 8px;
  & .your-projects {
    flex: 0 0 auto;
  }
}

.projects .container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 1fr);
  /* grid-auto-rows: 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(240px, 400px));
  gap: 16px;
}

.project {
  background-color: white;
  border-left: 8px solid rebeccapurple;
  border-radius: 8px;
  box-shadow: 2px 4px 12px 2px rgb(160, 160, 160);
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.title {
  flex: 1 0 auto;
}

.desc {
  flex: 1 0 auto;
  margin-bottom: 16px;
}

.btns {
  flex: 1 0 auto;
  display: flex;
  justify-content: end;
  gap: 8px;
}

.announcements {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.trending {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
